.App {
  background-image: url(./assets//images//background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
